USE [Bookyard]
GO
/****** Object:  Table [dbo].[AccessToken]    Script Date: 9/2/2016 7:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessToken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[ApplicationTableId] [int] NOT NULL,
	[ApplicationId] [nvarchar](50) NOT NULL,
	[AccessToken] [nvarchar](500) NULL,
	[ExpiryDate] [datetime2](7) NULL,
 CONSTRAINT [PK_AccessToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Application]    Script Date: 9/2/2016 7:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ApplicationId] [nvarchar](50) NOT NULL,
	[ApplicationSecret] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Application] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Book]    Script Date: 9/2/2016 7:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Author] [nvarchar](100) NULL,
	[Description] [nvarchar](1000) NULL,
	[AmazonUrl] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Likeable]    Script Date: 9/2/2016 7:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Likeable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Likeable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Membership]    Script Date: 9/2/2016 7:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membership](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[ApplicationTableId] [int] NOT NULL,
	[ApplicationId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Membership] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 9/2/2016 7:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserLike]    Script Date: 9/2/2016 7:34:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLike](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[LikeableId] [int] NOT NULL,
 CONSTRAINT [PK_UserLike] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AccessToken] ON 

SET IDENTITY_INSERT [dbo].[AccessToken] OFF
SET IDENTITY_INSERT [dbo].[Application] ON 

INSERT [dbo].[Application] ([Id], [Name], [ApplicationId], [ApplicationSecret]) VALUES (1, N'Bookyard Desktop Client', N'BookyardClient_123', N'Auth0 is awesome!')
SET IDENTITY_INSERT [dbo].[Application] OFF
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([Id], [Name], [Author], [Description], [AmazonUrl]) VALUES (1, N'C# in Depth', N'Jon Skeet', N'C# in Depth, Third Edition updates the best-selling second edition to cover the new features of C# 5, including the challenges of writing maintainable asynchronous code. It preserves the uniquely insightful look into the tricky areas and dusty corners of C# that only expert Jon Skeet can provide. ', N'https://www.amazon.com/C-Depth-3rd-Jon-Skeet/dp/161729134X/ref=cm_cr_arp_d_product_top?ie=UTF8')
SET IDENTITY_INSERT [dbo].[Book] OFF
SET IDENTITY_INSERT [dbo].[Likeable] ON 

INSERT [dbo].[Likeable] ([Id], [Name]) VALUES (1, N'Python')
INSERT [dbo].[Likeable] ([Id], [Name]) VALUES (2, N'C#')
INSERT [dbo].[Likeable] ([Id], [Name]) VALUES (3, N'Kotlin')
SET IDENTITY_INSERT [dbo].[Likeable] OFF
SET IDENTITY_INSERT [dbo].[Membership] ON 

INSERT [dbo].[Membership] ([Id], [UserId], [UserName], [ApplicationTableId], [ApplicationId]) VALUES (1, 1, N'Sathyaish', 1, N'BookyardClient_123')
SET IDENTITY_INSERT [dbo].[Membership] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [UserName], [PasswordHash], [FullName], [Email]) VALUES (1, N'Sathyaish', N'fq0LvFY8lVwX7QWnErcBDg==', N'Sathyaish Chakravarthy', N'Sathyaish@gmail.com')
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserLike] ON 

INSERT [dbo].[UserLike] ([Id], [UserId], [UserName], [LikeableId]) VALUES (1, 1, N'Sathyaish', 1)
INSERT [dbo].[UserLike] ([Id], [UserId], [UserName], [LikeableId]) VALUES (2, 1, N'Sathyaish', 2)
INSERT [dbo].[UserLike] ([Id], [UserId], [UserName], [LikeableId]) VALUES (3, 1, N'Sathyaish', 3)
SET IDENTITY_INSERT [dbo].[UserLike] OFF
ALTER TABLE [dbo].[AccessToken]  WITH CHECK ADD  CONSTRAINT [FK_AccessToken_Application] FOREIGN KEY([ApplicationTableId])
REFERENCES [dbo].[Application] ([Id])
GO
ALTER TABLE [dbo].[AccessToken] CHECK CONSTRAINT [FK_AccessToken_Application]
GO
ALTER TABLE [dbo].[AccessToken]  WITH CHECK ADD  CONSTRAINT [FK_AccessToken_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[AccessToken] CHECK CONSTRAINT [FK_AccessToken_User]
GO
ALTER TABLE [dbo].[Membership]  WITH CHECK ADD  CONSTRAINT [FK_Membership_Application] FOREIGN KEY([ApplicationTableId])
REFERENCES [dbo].[Application] ([Id])
GO
ALTER TABLE [dbo].[Membership] CHECK CONSTRAINT [FK_Membership_Application]
GO
ALTER TABLE [dbo].[Membership]  WITH CHECK ADD  CONSTRAINT [FK_Membership_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Membership] CHECK CONSTRAINT [FK_Membership_User]
GO
ALTER TABLE [dbo].[UserLike]  WITH CHECK ADD  CONSTRAINT [FK_UserLike_Likeable] FOREIGN KEY([LikeableId])
REFERENCES [dbo].[Likeable] ([Id])
GO
ALTER TABLE [dbo].[UserLike] CHECK CONSTRAINT [FK_UserLike_Likeable]
GO
ALTER TABLE [dbo].[UserLike]  WITH CHECK ADD  CONSTRAINT [FK_UserLike_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserLike] CHECK CONSTRAINT [FK_UserLike_User]
GO
